<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkhh.provider.mapper.authentication.realname.UserRealAuthenticationRecordMapper" >
    <resultMap id="BaseResultMap" type="com.jkhh.provider.pojo.domain.authentication.realname.UserRealAuthenticationRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="authentication_type" jdbcType="INTEGER" property="authenticationType"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="bank_card_no" jdbcType="VARCHAR" property="bankCardNo"/>
        <result column="authentication_result" jdbcType="INTEGER" property="authenticationResult"/>
        <result column="authentication_msg" jdbcType="VARCHAR" property="authenticationMsg"/>
        <result column="authentication_result_body" jdbcType="LONGVARCHAR" property="authenticationResultBody"/>
        <result column="create_id" jdbcType="BIGINT" property="createId"/>
        <result column="create_name" jdbcType="VARCHAR" property="createName"/>
        <result column="update_name" jdbcType="VARCHAR" property="updateName"/>
        <result column="update_id" jdbcType="BIGINT" property="updateId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
     a.authentication_type
     ,a.id_card
     ,a.real_name
     ,a.bank_card_no
     ,a.authentication_result
     ,a.authentication_msg
     ,a.authentication_result_body
     ,a.create_id
     ,a.create_name
     ,a.update_name
     ,a.update_id
     ,a.create_time
     ,a.update_time
  </sql>
</mapper>