<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jkhh.provider.mapper.authentication.certificate.UserNurseCertificateRecordMapper">
  <sql id="Base_Column_List">
    id, user_nurse_id, certificate_template_id, certificate_type, certificate_name, audit_id,
    audit_status, audit_time, audit_message, audit_type, create_id, create_name, create_time, update_id,
    update_name, update_time
  </sql>
  <insert id="saveUserNurseCertificateRecord" parameterType="com.jkhh.provider.pojo.domain.authentication.certificate.UserNurseCertificateRecord">
      INSERT INTO user_nurse_certificate_record (<include refid="Base_Column_List" />)
      SELECT <include refid="Base_Column_List" /> FROM user_nurse_certificate
      WHERE id = #{id,jdbcType=BIGINT}
  </insert>
  <delete id="deleteUserNurseCertificate" parameterType="com.jkhh.provider.pojo.domain.authentication.certificate.UserNurseCertificateRecord">
      DELETE FROM user_nurse_certificate WHERE id = #{id,jdbcType=BIGINT}
  </delete>
</mapper>