<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkhh.provider.mapper.user.nurse.UserNurseMapper" >
    <!-- 获取实名认证的用户 -->
    <select id="listCertificationUser" parameterType="Integer"
            resultType="com.jkhh.provider.pojo.domain.user.nurse.UserNurse">
        SELECT
          un.`id`
        FROM user_nurse un
        INNER JOIN user_nurse_certificate unc ON un.id = unc.user_nurse_id
        WHERE unc.audit_status = #{auditStatus} AND unc.certificate_type = #{certificateType}
    </select>
    <!-- 获取注册并绑定微信的用户 -->
    <select id="listRegisterUserNurse" parameterType="Long" resultType="com.jkhh.provider.pojo.vo.user.nurse.ListUserNurseClientVO">
        SELECT
            id,
            `name`,
            phone
        FROM
            user_nurse
        WHERE
            phone != ''
            AND open_id != ''
        <if test="userNurseId != null">
            AND id = #{userNurseId}
        </if>
    </select>
    <!-- 获取实名与基础认证的用户 -->
    <select id="listCertificateUserNurse" parameterType="Long" resultType="com.jkhh.provider.pojo.vo.user.nurse.ListUserNurseClientVO">
        SELECT
          un.id,
          un.nickname
        FROM
          user_nurse un
        LEFT JOIN user_nurse_certificate unc ON un.id = unc.user_nurse_id
        WHERE
          un.identity_card IS NOT NULL
          AND un.`name` IS NOT NULL
          AND unc.certificate_type = 2
          AND unc.audit_status = 1
        <if test="userNurseId != null">
            AND un.id = #{userNurseId}
        </if>
        group by un.id
    </select>
    <!-- 手机号模糊搜索获取实名认证和基础认证用户信息列表 -->
    <select id="getCertificateUserNurseByPhone" parameterType="com.jkhh.provider.pojo.dto.user.nurse.ListUserNursePageByPhoneDTO" resultType="com.jkhh.provider.pojo.vo.user.nurse.ListUserNurseClientVO">
        SELECT
            un.id,
            un.name
        FROM
            user_nurse un
        LEFT JOIN user_nurse_certificate unc ON un.id = unc.user_nurse_id
        WHERE
            un.identity_card IS NOT NULL
            AND un.`name` IS NOT NULL
            AND unc.certificate_type = 2
            AND unc.audit_status = 1
            AND un.phone like CONCAT('%', #{phone}, '%')
         group by un.id
    </select>
    <!-- 指派护士 -->
    <select id="listAssignNurse" parameterType="com.jkhh.provider.pojo.dto.user.nurse.ListAssignNurseDTO" resultType="com.jkhh.provider.pojo.vo.user.nurse.ListAssignNurseVO">
        SELECT
            basic.id,
            basic.phone,
            basic.`name`,
            basic.sex,
            basic.province_name,
            basic.city_name,
            basic.area_name,
            basic.department_code,
            basic.department_name,
            GROUP_CONCAT( profession.certificate_name SEPARATOR ';' ) as certificate_name
        FROM
            (
            SELECT
                real_name.id,
                real_name.phone,
                real_name.`name`,
                real_name.sex,
                real_name.province_code,
                real_name.province_name,
                real_name.city_code,
                real_name.city_name,
                real_name.area_code,
                real_name.area_name,
                real_name.department_code,
                real_name.department_name
            FROM
                (
                SELECT
                    un.id,
                    un.phone,
                    un.`name`,
                    un.sex,
                    un.province_code,
                    un.province_name,
                    un.city_code,
                    un.city_name,
                    un.area_code,
                    un.area_name,
                    un.department_code,
                    un.department_name
                FROM
                    user_nurse un,
                    user_nurse_certificate unc
                WHERE
                    un.id = unc.user_nurse_id
                    AND unc.certificate_type = 1
                    AND unc.audit_status = 1
                ) AS real_name,
                user_nurse_certificate unc
            WHERE
                real_name.id = unc.user_nurse_id
                AND unc.certificate_type = 2
                AND unc.audit_status = 1
            GROUP BY
                real_name.id
            ) AS basic
            LEFT JOIN (
            SELECT
                unc.id,
                unc.user_nurse_id,
                unc.certificate_name
            FROM
                user_nurse_certificate unc
                LEFT JOIN user_nurse_certificate_skills_label uncsl ON unc.id = uncsl.user_nurse_certificate_id
            WHERE
                unc.audit_status = 1
                AND unc.certificate_type = 3
                AND uncsl.skills_label_id = #{skillsLabelId}
            ) AS profession ON basic.id = profession.user_nurse_id
        <where>
            <if test="provinceCode != null">
                AND basic.province_code = #{provinceCode}
            </if>
            <if test="cityCode != null">
              AND basic.city_code = #{cityCode}
            </if>
            <if test="areaCode != null">
              AND basic.area_code = #{areaCode}
            </if>
            <if test="phoneName != null and phoneName.trim() != ''">
                AND ( basic.`name` LIKE CONCAT('%', #{phoneName}, '%') OR basic.phone LIKE CONCAT('%', #{phoneName}, '%') )
            </if>
        </where>
        GROUP BY
            basic.id
        ORDER BY
            profession.id DESC
    </select>

    <!-- 客服系统-查询指派订单护士 -->
    <select id="serviceListAssignNurse" parameterType="com.jkhh.provider.pojo.dto.user.nurse.ServiceListUserNurseDTO" resultType="com.jkhh.provider.pojo.vo.user.nurse.ServiceListUserNurseVO">
        SELECT
        basic.id,
        basic.phone,
        basic.`name`,
        basic.sex,
        basic.province_name,
        basic.city_name,
        basic.area_name,
        basic.department_code,
        basic.department_name,
        GROUP_CONCAT( profession.certificate_name SEPARATOR ';' ) as certificate_name
        FROM
        (
        SELECT
        real_name.id,
        real_name.phone,
        real_name.`name`,
        real_name.sex,
        real_name.province_code,
        real_name.province_name,
        real_name.city_code,
        real_name.city_name,
        real_name.area_code,
        real_name.area_name,
        real_name.department_code,
        real_name.department_name
        FROM
        (
        SELECT
        un.id,
        un.phone,
        un.`name`,
        un.sex,
        un.province_code,
        un.province_name,
        un.city_code,
        un.city_name,
        un.area_code,
        un.area_name,
        un.department_code,
        un.department_name
        FROM
        user_nurse un,
        user_nurse_certificate unc
        WHERE
        un.id = unc.user_nurse_id
        AND unc.certificate_type = 1
        AND unc.audit_status = 1
        ) AS real_name,
        user_nurse_certificate unc
        WHERE
        real_name.id = unc.user_nurse_id
        AND unc.certificate_type = 2
        AND unc.audit_status = 1
        GROUP BY
        real_name.id
        ) AS basic
        LEFT JOIN (
        SELECT
        unc.id,
        unc.user_nurse_id,
        unc.certificate_name
        FROM
        user_nurse_certificate unc
        LEFT JOIN user_nurse_certificate_skills_label uncsl ON unc.id = uncsl.user_nurse_certificate_id
        WHERE
        unc.audit_status = 1
        AND unc.certificate_type = 3
        ) AS profession ON basic.id = profession.user_nurse_id
        <where>
            <if test="phone != null and phone.trim() != ''">
                AND basic.phone = #{phone}
            </if>
            <if test="name != null and name.trim() != ''">
                AND  basic.`name` = #{name}
            </if>
            <if test="userId != null and userId.size > 0">
                AND basic.id IN
                <foreach collection="userId" item="id" index="index" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        GROUP BY
        basic.id
        ORDER BY
        profession.id DESC
    </select>
</mapper>